@media only screen and (min-width: 32.5em) {
    header h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    header, footer {
        border-radius: 15px;
    }
    .selfpic {
        float: right;
        margin: 1em;
        width: 180px;
        height: 240px;
        border-radius: 2px;
        box-shadow: black 5px 5px 10px 2px;
    }
}

