@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
//colors
$header-background-color: #6495ED;
$p-color: #FAEBD7;
$body-background-color: #FAEBD7;
$h2-color: black;
$hover-color: #6495ED;
$active-color: #DEB887;
$article-color: white;
$post-date-color: grey;



//mixins
@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main {
    background-color: $body-background-color;
    padding: .5rem;
    h2 {
        font-family: Lora;
        padding-bottom: 2em;
    }
    a {
        color: $h2-color;
    }
}
body {
    margin: 0;
    background-color: $body-background-color;
    color: $p-color;
    color: $h2-color;
    font-family: Helvetica, Arial, sans-serif;

    @include for-size(tablet-landscape-up) {
        margin: 0;
        border-left: 240px solid;
    }
}
header {
    padding: 1rem 2rem;
    text-align: right;
    color: $p-color;
    background-color: $header-background-color;
    h1 {
        font-family: Lora;
    }
    a {
        color: $p-color;
        text-decoration: none;
    }
    a:hover {
        color: white;
        text-decoration: underline;
    }
    a:active {
        color: $active-color;
    }
    nav li {
        list-style: none;
        line-height: 2em;
    } 
    @include for-size(tablet-landscape-up){
        top: 0;
        left: 0;
        width: 180px; 
        height: 1500px;
        position: absolute;
    }
}

article {
    display: block;
    background-color: $article-color;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 3px 4px 4px lightgray;
    
    a{
        text-decoration: none;
    }
    a:hover {
        color: $hover-color;
        text-decoration: underline;
    }
    a:active {
        color: $active-color;
    }
    .post-date {
        color: $post-date-color;
    }
    img {
        width: 250px;
        @include center-block();
        padding-bottom: 1rem;
    }
    @include for-size(tablet-landscape-up) {
        margin: 3rem 4rem;
    }
}
