    /*table on colortype page*/
    
    table,
    th,
    td {
        border: 2px solid #DCCDBC;
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 15px;
    }
    
    th {
        text-align: left;
    }
    
    table {
        border-spacing: 5px;
    }
    
    .nav20 {
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        background-color: #1b6b9d;
        color: #FDF9ED;
    }
    
    .type40 {
        font-family: 'Quicksand', sans-serif;
        font-size: 50px;
        font-weight: 700;
        color: #1B6B9D;
        background-color: #82C0C4;
    }
    
    .type30 {
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        color: #82C0C4;
        background-color: #363031;
    }
    
    .type25 {
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        color: #82C0C4;
    }
    
    .type20 {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        color: #82C0C4;
    }
    
    .type16 {
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        color: #363031;
        background-color: #FDF9ED;
    }