/* 35em is also 560px when basefont is 16px */

@media only screen and (min-width: 35rem) {
    .headings h1 {
        font-size: 70px;
        color: #ffffff;
    }
    header img {
        width: 150px;
        padding: 3% 0;
    }
    nav {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        justify-content: center;
        text-align: center;
    }
    .hamburger {
        align-self: flex-end;
        justify-self: flex-end;
    }
    main {
        padding: 1rem;
    }
    .motto {
        align-self: center;
        padding-left: 40px;
        color: #ffffff;
        font-size: 25px;
    }
}


/*end medium */