html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2 {
    font-family: 'Risque', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    text-align: center;
    padding: 1.5rem;
    color: black;
    font-size: 3rem;
    margin: 0;
}

header {
    background-color: #F7FFF7;
    width: 100%;
    margin: 0;
}

h2 {
    font-size: 1.75rem;
    margin: .5rem;
    text-align: center;
}

body {
    background-color: #4ECDC4;
    margin: 0;
}

.cards {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 5%;
}

.cards section {
    background-color: #F7FFF7;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cards img {
    border-radius: 10px;
    height: 14rem;
    margin: 0;
    margin-left: 115px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cards p {
    padding: 0;
    margin: .5rem;
    text-align: center;
    position: relative;
    bottom: 240px;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #F7FFF7;
    color: black;
}

@media only screen and (min-width: 42rem) {
    main {
        margin: 0;
        margin-left: 5%;
        width: 40rem;
    }
    .cards {
        grid-template-columns: 1fr 1fr;
    }
    .cards img {
        margin: 0 3px 0 40px;
    }
}

@media only screen and (min-width: 80rem) {
    main {
        width: 78rem;
    }
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}