/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    padding: .5rem;
    overflow: hidden;
    color: #ffffff;
    background-color: #3C71C1ff;
    display: flex;
    flex-direction: column;
}

header img {
    align-items: flex-start;
    align-self: flex-start;
    width: 100px;
    background-color: #ffffff;
    margin: 2%;
    padding: 5% 0;
    outline: 1px solid #00171f;
    outline-offset: -3px;
    -webkit-box-shadow: 5px 5px 11px 1px #000000;
    box-shadow: 5px 5px 11px 1px #000000;
}

.hamburger {
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    margin: 2%;
    margin-top: -1%;
    background-color: #003459;
    font-size: 1.6rem;
    color: #ffffff;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    font-weight: 700;
    justify-self: flex-start;
    margin-left: 30%;
    margin-bottom: 4;
    margin-top: -20%;
}

h2 {
    font-family: 'EB Garamond', serif;
    color: #003459;
    font-size: 35px;
    margin-left: 2%;
}

.motto {
    font-size: 20px;
    color: #ffffff;
    margin-left: 30%;
    margin-top: -5%;
}

nav {
    background-color: #08C6AAff;
    font-family: 'Quicksand', sans-serif;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #00171f;
    border-top: 1px solid rgba(225, 225, 225, 0.8);
}

#active {
    background-color: #003459;
    color: #fff;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #08C6AAff;
}

.hide {
    display: none;
}


/*---------Main ----------*/

.preston {
    width: 100%;
    height: auto;
}

main figure.preston img {
    width: 100%
}

div#message {
    background-color: yellow;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

section.forecast {
    display: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.hero-content {
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.weathersummary {
    position: absolute;
    color: #00171f;
    top: 20px;
    left: 20px;
    background: radial-gradient(#ffffff, #e0d9d994);
    border: 2px solid #000;
    text-align: left;
    padding: 1%;
    margin: 1%;
    -webkit-box-shadow: 5px 5px 11px 1px #e0d9d994;
    box-shadow: 5px 5px 11px 1px #4b4a4ac4;
}

.weathersummary p {
    font-size: 16px;
}

.fiveday {
    display: none;
}

section.article {
    color: #00171f;
    margin: 1rem;
}

.article p {
    margin-top: 1.5rem;
}

section.article img {
    border: 1px solid#000;
    margin: 0;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 5px 5px 11px 1px #000000;
    box-shadow: 5px 5px 11px 1px #000000;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}

.h3contact {
    margin: 1rem;
}

.contact p {
    font-size: 17px;
}

.map {
    grid-column: 1/2;
    width: 70%;
    height: auto;
    border: 3px solid #000;
    margin: 1%;
    margin-left: 15%;
}

p {
    font-size: 14px;
    margin: .5rem;
    line-height: 20px;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffffff;
    background-color: #3C71C1ff;
    text-align: center;
}

footer p {
    margin-top: 4%;
}

footer div {
    border: none;
}

.social {
    padding: 1rem;
}

.social img {
    padding: 2px;
    -webkit-box-shadow: 5px 5px 11px 1px #000000;
    box-shadow: 5px 5px 11px 1px #000000;
}


/*-----Gallery-----*/

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 1rem;
    margin: 1rem;
}

.gallery picture {
    box-shadow: 5px 5px 11px 1px #000000;
}

.gallery figcaption {
    padding: .5rem 0;
    text-align: center;
}


/*---------storm center----------*/

*:focus {
    outline: none;
}

.stormtitle {
    margin: 3%;
}

legend {
    background-color: #003459;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    color: white;
    font-size: 1.5rem;
    border: none;
}

form fieldset {
    margin: 2% .5rem;
    width: 95%;
    border-radius: 10px;
    border: none;
    background-color: #08C6AAff;
}

input {
    display: block;
    border-radius: 10px;
    border: none;
    color: grey;
    background-color: white;
    padding: .5rem;
    margin: 0;
    width: auto;
}

select {
    display: block;
    border-radius: 10px;
    border: none;
    color: black;
    background-color: white;
    padding: .5rem;
    margin: 0;
    width: auto;
}

::placeholder {
    color: grey;
}

.submitButton {
    outline: none !important;
    border: none;
    width: 60%;
    height: 60px;
    background-color: #3C71C1ff;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 1.5em;
    display: inline-block;
    position: relative;
    left: 42%;
    transform: translateX(-50%);
    font-size: 25px;
}

.submitButton:hover {
    cursor: pointer;
    background-color: white;
    color: #3C71C1ff;
    border: 2px #3C71C1ff dotted;
}

label.top {
    display: block;
    padding: .2rem;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -4%;
    margin-top: 0;
}

.slide {
    font-size: 20px;
    font-weight: 600;
}

label.slide {
    display: flex;
    flex-direction: column;
}

.danger {
    display: block;
    font-size: 20px;
    font-weight: 600;
}

.sbs label {
    display: block;
    padding: .75rem 0;
}

.addInfo {
    display: block;
    border-radius: 10px;
    width: 100%;
    margin-top: 3%;
}

.top input,
.top select {
    display: block;
    border: 0;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
}

.rainbowafter img {
    margin: 1rem;
    margin-left: 3rem;
    border-radius: 10px;
    box-shadow: 5px 5px 11px 1px #000000;
    position: relative;
    justify-content: center;
}


/*-----Home Page-------*/

.heroidaho {
    display: block;
    overflow: hidden;
}
.cards {
    background-color:rgba(0, 0, 0, 0.22);
    padding: 1rem;

}
.cards section{
    background-color: #003459;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
}
.cards h2 {
    color: white;
    margin: 0;
}
.cards h3 {
    font-size: 20px;
    margin: .5rem;
}
.cards p {
    font-size: 15px;
    margin: .5rem;
}
.cards img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.cards section:hover {
    background-color:#3F88C5;
}
.upcoming {
    margin: 1rem;
    text-align: center;
    background-color:rgba(225, 225, 225, 0.8);
    padding: 1rem;
}
.uplist {
    list-style:none;
}
.fishingidaho {
    border-radius: 10px; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    height: auto;
}

.clearfix {
    overflow: auto;
}