/* 64em is also 1028px when basefont is 16px */

@media only screen and (min-width: 64rem) {
    header,
    nav,
    main,
    footer {
        margin: auto;
        padding: 0;
    }
    main {
        max-width: 64rem;
    }
    .headimg,
    .headings {
        display: flex;
        flex-direction: column;
        margin: 2%;
        justify-content: center;
        margin-left: 2rem;
        max-width: 64rem;
    }
    header img {
        width: 200px;
        margin: 1rem;
    }
    .preston {
        margin-left: 2%;
        margin-right: 2%;
        overflow: hidden;
    }
    .presIdaho {
        margin: 2%;
    }
    .hero div {
        max-width: 64rem;
    }
    .hamburger {
        display: none;
    }
    .hide {
        display: flex;
    }
    nav ul {
        margin-left: 2%;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2%;
        text-align: center;
        padding: .5%;
    }
    nav ul li {
        flex: 1 1 100%;
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .5rem 1.5rem;
        text-align: center;
    }
    .weathersummary {
        top: 50px;
        left: 110px;
    }
    .forecast div {
        margin: 2%;
        overflow: hidden;
    }
    .top5 {
        margin: 2%;
    }
    section.article {
        margin: 0;
        margin-right: 2%;
    }
    .article p {
        margin: 2%;
    }
    section.article img {
        border: 2px solid #000;
    }
    .h3contact {
        margin: 2%;
    }
    .contactinfo {
        margin-right: 1%;
        margin-left: 0;
    }
    footer p {
        margin: 3%;
    }
}


/*end large */