/* 64em is also 1028px when basefont is 16px */

@media only screen and (min-width: 64rem) {
    header,
    nav,
    main,
    footer {
        max-width: 64rem;
        margin: auto;
        padding: 0;
    }
    header img {
        width: 200px;
        margin-top: .5rem;
    }
    .motto {
        text-align: left;
    }

    h2, h3 {
        margin: 2%;
    }
    .preston {
        margin-left: 2%;
        margin-right: 2%;
        overflow: hidden;
    }
    main {
        padding: 1rem;
    }
    .hero div {
        max-width: 64rem;
    }
    .hamburger {
        display: none;
    }
    .hide {
        display: block;
    }
    nav ul {
        margin-left: 2%;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .6rem 1rem;
    }
    .weathersummary {
        top: 50px;
        left: 110px;
    }
    .forecast div {
        margin: 2%;
        overflow: hidden;
    }
    section.article {
        margin: 0;
        margin-right: 2%;
    }
    .article p {
        margin: 2%;
    }
    section.article img {
        border: 2px solid #000;
    }
    .h3contact {
        margin: 2%;
    }
    .contactinfo {
        margin-right: 1%;
        margin-left: 0;
    }
}


/*end large */