/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    padding: .5rem;
    overflow: hidden;
    color: #ffffff;
    background-color:#3C71C1ff;
    display: flex;
}

header img {
    align-self: flex-start;
    align-self: center;
    width: 100px;
    background-color: #ffffff;
    margin-left: 2%;
    padding: 5% 0;
    outline: 1px solid #00171f;
    outline-offset: -3px;
    -webkit-box-shadow: 5px 5px 11px 1px #000000;
    box-shadow: 5px 5px 11px 1px #000000;
}

.hamburger {
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    margin: .5rem 1%;
    background-color: #003459;
    font-size: 1.6rem;
    color: #ffffff;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    padding-left: 35px;
    padding-top: 1px;
}

h2 {
    font-family: 'EB Garamond', serif;
    color: #003459;
    font-size: 35px;
    margin-left: 1rem;
    padding: 1% 0;
}

.motto {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 1%;
}

nav {
    background-color: #08C6AAff;
    font-family: 'Quicksand', sans-serif;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #00171f;
    border-top: 1px solid rgba(225, 225, 225, 0.8);
}

#active {
    background-color: #003459;
    color: #fff;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #08C6AAff;
}

.hide {
    display: none;
}


/*---------Main ----------*/

.preston {
    width: 100%;
    height: auto;
}
div#message {
    background-color: yellow;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

section.forecast {
    display: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.hero-content {
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
}



.weathersummary {
    position: absolute;
    color: #00171f;
    top: 20px;
    left: 20px;
    background: radial-gradient(#ffffff, #e0d9d994);
    border: 2px solid #000;
    text-align: left;
    padding: 1rem;
    margin: 2%;
    -webkit-box-shadow: 5px 5px 11px 1px #e0d9d994;
    box-shadow: 5px 5px 11px 1px #4b4a4ac4;
}

.weathersummary p {
    font-size: 16px;
}

.fiveday {
    display: none;
}

section.article {
    color: #00171f;
    margin: 1rem;
}

.article p {
    margin-top: 1.5rem;
}

section.article img {
    border: 1px solid#000;
    margin: 0;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 5px 5px 11px 1px #000000;
    box-shadow: 5px 5px 11px 1px #000000;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}
.h3contact {
    margin: 1rem;
}
.contact p {
    font-size: 17px;
}

.map {
    grid-column: 1/2;
    width: 70%;
    height: auto;
    border: 3px solid #000;
    margin: 1%;
    margin-left: 15%;
}

p {
    font-size: 14px;
    margin: .5rem;
    line-height: 20px;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffffff;
    background-color: #3C71C1ff;
    text-align: center;
}

footer div {
    border: none;
}

.social {
    padding: 1rem;
}

.social img {
    padding: 2px;
    -webkit-box-shadow: 5px 5px 11px 1px #000000;
    box-shadow: 5px 5px 11px 1px #000000;
}


/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    height: auto;
}

.clearfix {
    overflow: auto;
}