/* 64em is also 1028px when basefont is 16px */

@media only screen and (min-width: 64rem) {
    header,
    nav,
    main,
    footer {
        margin: auto;
        padding: 0;
    }
    main {
        max-width: 64rem;
    }
    .headings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 8%;
        max-width: 64rem;
    }
    .headings h1 {
        margin: 0;
        margin-left: 28%;
        max-width: 64rem;
    }
    .motto {
        margin-left: 28%;
        max-width: 64rem;
    }
    .headimg {
        width: 200px;
        height: auto;
        margin: 2%;
        margin-bottom: -8%;
        margin-left: 10%;
        justify-self: flex-start;
        position: relative;
        max-width: 64rem;
    }
    .preston {
        margin-left: 2%;
        margin-right: 2%;
        overflow: hidden;
    }
    .presIdaho {
        margin: 2%;
    }
    .hero div {
        max-width: 64rem;
    }
    .hamburger {
        display: none;
    }
    .hide {
        display: flex;
    }
    nav ul {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10%;
        text-align: center;
        padding: 0 1rem;
    }
    nav ul li {
        flex: 1 1 100%;
        justify-content: space-between;
        max-width: 64rem;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .5rem 1.5rem;
        text-align: center;
        max-width: 64rem;
        display: block;
    }
    .weathersummary {
        top: 50px;
        left: 75px;
    }
    .forecast div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .top5 {
        margin: 2%;
    }
    section.article {
        margin: 0;
        margin-right: 2%;
    }
    .article p {
        margin: 2%;
    }
    section.article img {
        border: 2px solid #000;
    }
    .h3contact {
        margin: 2%;
    }
    .contactinfo {
        margin-right: 1%;
        margin-left: 0;
    }
    .map {
        margin: 1rem;
        display: block;
        float: left;
    }
    footer p {
        margin: 3%;
    }
    /* gallery */
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem;
    }
    .gallery picture:hover {
        box-shadow: 0 0 50px#333;
    }
    /*------storm center--------*/
    .stormtitle {
        margin-left: 6rem;
        font-size: 3rem;
    }
    form {
        width: 45%;
        display: grid;
        grid-template-columns: 1fr;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-95%);
        font-size: 25px;
    }
    .rainbowafter img {
        margin: 1rem;
        margin-left: 8rem;
    }
    /*-------home page------*/
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .cards section {
        display: block;
    }
    .cards h2 {
        margin: 0;
        font-size: 40px;
    }
    .cards h3 {
        font-size: 20px;
        margin: 0.5rem;
    }
    .cards p {
        margin: .5rem;
    }
}


/*end large */