@media only screen and (min-width: 900px) {
    header {
        top: 0;
        left: 0;
        width: 180px;
        position: absolute;
    }

    body {
        margin: 0;
        border-left: 250px solid #6495ed;
    }

    article img {
        margin: 2rem 3rem 1rem;
        padding-left: 3rem;
    }   
}